<form (submit)="onSubmitAddForm($event)">
    <b><label for="emailInput">Ajoutez votre concert</label></b><br/>
    <!-- [(ngModel)] permet de lier la valeur de l'input à la variable du fichier TypeScript -->
    <input type="text" class="bandInput" name="bandInput" [(ngModel)]="bandGig[0]" placeholder="Groupe/Artiste"><br/>
    <div id="addBand"></div>
    <button type="button" id="addBandButton" (click)="addBand($event)">Ajouter un groupe          <svg xmlns="http://www.w3.org/2000/svg" height="0.8em" viewBox="0 0 448 512"><style>svg{fill:#0056b3}</style><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg></button><br/>
    <input type="text" id="cityInput" name="cityInput" [(ngModel)]="cityGig" placeholder="Ville"><br/>
    <input type="text" id="venueInput" name="venueInput" [(ngModel)]="venueGig" placeholder="Lieu"><br/>
    <input type="text" id="countryInput" name="countryInput" [(ngModel)]="countryGig" placeholder="Pays"><br/>
    <input type="date" id="dateInput" name="dateInput" [(ngModel)]="dateGig" placeholder="Date"><br/>
    <input type="text" id="priceInput" name="priceInput" [(ngModel)]="priceGig" placeholder="Prix"><br/>
    <button type="submit" id="submit">Valider</button>
</form>