#main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
}

.col-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    .h2-div{
        h2{
            margin: 50px;
            font-size: 25px;
        }
        p{
            text-align: center;
            font-size: 23px;
            font-family: 'Andale Mono', sans-serif;
        }
        .number{
            font-size: 45px;
            font-family: 'Arial', sans-serif;
        }
    }
}