<form (submit)="onSubmitEditForm($event)">
    <b><label for="emailInput">Ajoutez votre concert</label></b><br/>
    <!-- [(ngModel)] permet de lier la valeur de l'input à la variable du fichier TypeScript -->
    <input type="text" id="bandInput" name="bandInput" [(ngModel)]="gig.band"><br/>
    <input type="text" id="cityInput" name="cityInput" [(ngModel)]="gig.city"><br/>
    <input type="text" id="venueInput" name="venueInput" [(ngModel)]="gig.venue"><br/>
    <input type="text" id="countryInput" name="countryInput" [(ngModel)]="gig.country"><br/>
    <input type="date" id="dateInput" name="dateInput" [(ngModel)]="gig.date"><br/>
    <button type="submit">Valider</button>
</form>