<table *ngIf="gigs.length > 0">
    <tr>
        <th>Groupe/Artiste</th>
        <th>Lieu</th>
        <th>Ville</th>
        <th>Pays</th>
        <th>Date</th>
    </tr>
    <tr *ngFor="let gig of gigs">
        <td>{{ gig.band }}</td>
        <td>{{ gig.venue }}</td>
        <td>{{ gig.city }}</td>
        <td>{{ gig.country }}</td>
        <td>{{ gig.date }}</td>
    </tr>
</table>

<div *ngIf="gigs.length === 0">
    <p id="emptyShowsText">Vous n'avez pas saisi de concerts.</p>
    <button (click)="addGigs()">Ajouter un concert</button>
</div>